.content { 

  & h2 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    margin-top: 20px;
  }

  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin-top: 20px;
  }

  & p {
    color: #6b7280;
    margin-bottom: 10px;
    min-height: 24px;
  }

  & ul {
    list-style: disc;
    padding-left: 15px;
    margin: 10px 0px 15px;
  }

}

.fields-container {
  padding: 0px !important;
}

